footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../../img/photo-1626814026160-2237a95fc5a0.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    color: white;
}
footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
footer .content{
    position: relative;
  
}
z
footer p:not(.copyright){
text-transform: uppercase;
padding: 20px;
border-bottom: 1px solid white;
font-size: 22px;
width: fit-content;
margin: 20px auto;
}
footer .social_icons i{
padding: 10px 15px;
}
footer .copyright{
margin-top: 60px;
}
footer .copyright span{
    font-weight: bold;
    color: #dc3545;
} 